dashscope==1.13.6
langchain==0.1.0
langchain_core==0.1.8
langchainhub==0.1.14
langchain-experimental==0.0.49
beautifulsoup4==4.12.2
html2text==2020.1.16
alibabacloud_cloudcontrol20220830==1.1.0
openpyxl==3.1.2
python-dotenv
ipykernel